ion-content.grey-bg
  h1.main-title Personal Balance and Wellbeing
  .condensed
    .list
      label.item.item-input.item-floating-label
        span.input-label First Name
        input(type='text', placeholder='First Name')
      label.item.item-input.item-floating-label
        span.input-label Last Name
        input(type='text', placeholder='Last Name')
      label.item.item-input.item-floating-label
        span.input-label Email
        input(type='text', placeholder='Email')

      .form-actions.pushed-top
        a.button.button-block.button-positive(href="#/radar")
          | Register
        p.sign-up-ad
          | Already have an account?  
          a(href="#/login") Login
