ion-content
  .row
    .col
      .panel
        .panel-body
          label.item.item-input
            input(type='text', placeholder='Username/Email')
          label.item.item-input
            input(type='text', placeholder='Password')

          button.button.button-block.button-positive
            | Login
