ion-content
  h1.title Personal Balance and Wellbeing
  .condensed
    .list
      label.item.item-input.item-floating-label
        span.input-label Email
        input(type='text', placeholder='Email'  ng-model="credentials.email")
      label.item.item-input.item-floating-label
        span.input-label Password
        input(type='password', placeholder='password' ng-model="credentials.password")
      
      .form-actions.pushed-top
        a.button.button-block.button-positive(ng-click="login()")
          | Login
        
        p.sign-up-ad
          | Don't have an account? 
          a(href="/register") Sign Up
