ion-content.grey-bg
  h1.main-title Personal Balance and Wellbeing
  .condensed
    .list
      label.item.item-input.item-floating-label
        span.input-label Email
        input(type='text', placeholder='Email'  ng-model="credentials.email")
      label.item.item-input.item-floating-label
        span.input-label Password
        input(type='password', placeholder='Password' ng-model="credentials.password")
      
      .form-actions.pushed-top
        a.button.button-block.button-positive(ng-click="login()")
          | Login

        a.button.button-block.button-positive(a href="#/exams")
          | Use Anonymous
        
                
        p.sign-up-ad
          | Don't have an account? 
          a(href="#/register") Sign Up
          br
          a(href="#/register") Forgot Password
