ion-content(class="no-exam grey-bg")
  h1.main-title Personal Balance and Wellbeing
  .info-box
    p This assessment is designed to help develop an effective plan to target Balance and Wellbeing in order to unlock your greater potential
    br
    p Additional Instructions Here. Like what to do with the test
  .exam-title
    //- span You haven't taking any assessments
    a.button.button-block.button-positive(href="#/start") Start
          
    p.sign-up-ad
      | Already have an account?  
      a(href="#/login") Login
  //- 
  //- 
  //- .tabs-striped.tabs-color-positive
  //-   .tabs
  //-     a.tab-item.active(href='#/exams')
  //-       i.icon.ion-arrow-graph-up-right
  //- 
  //-     a.tab-item(href="#/login")
  //-       i.ion-log-in.icon

  
