
ion-view(class="no-exam")
  
  .info-box
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  .exam-title
    span You haven't taking any assessments
    a.button.button-block.button-positive(href="#/start") Start
          


  
  .tabs-striped.tabs-color-positive
    .tabs
      a.tab-item(href="#/login")
        i.ion-log-in.icon

  
      a.tab-item.active(href='#/exams')
        i.icon.ion-arrow-graph-up-right
