ion-header-bar(class="bar-positive")
  h1.title Assessment

.tabs-striped.tabs-color-positive.tabs-top.tabs-icon-top
  .tabs
    a.tab-item(ng-click="toggleCurrent(1)" ng-class="{'active': currentChart==1}")
      i.ion-android-wifi.icon
      span Well Being

    a.tab-item(ng-click="toggleCurrent(2)" ng-class="{'active': currentChart==2}")
      i.icon.ion-arrow-graph-up-right
      span Core
    a.tab-item(ng-click="toggleCurrent(3)" ng-class="{'active': currentChart==3}")
      i.ion-ios-pie-outline.icon
      span Environment

ion-content(has-header="true")

  div(ng-show="currentChart == 1")
    .chart-container
      canvas#radar(height="450" width="450")
  
  div(ng-show="currentChart == 2")
    .chart-container.full
      canvas#core(height="450" width="450")
        
  div(ng-show="currentChart == 3")
    .chart-container.full
      canvas#env(height="450" width="450")
      
  .start-container.text-center
    a.button.button-block.button-positive(href="#/start") Take Another Exam

.tabs-striped.tabs-color-positive
  .tabs
    a.tab-item(href="#/login")
      i.ion-log-in.icon


    a.tab-item.active(href='#/exams')
      i.icon.ion-arrow-graph-up-right
