.item-floating-label {
  border: 0px;
  border-bottom: 1px solid #2A8EFE;
}



.form-actions {
  &.pushed-top {
    margin-top: 40px;
  }
  .buttons {
    margin-bottom: 20px;
  }
}

.input-label {
  color: #2A8EFE;
}
